
/* LISTA DE PRECIOS */
#fondo{
    background-image: url(../imagenes/camping\ fondo\ hd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

   .grid-area {
      display: grid;
      grid-template-areas:
          "header header header"
          "nav nav nav"
          "section section section";
  
          grid-template-rows: 5% 10% 90%;
          gap: 50px;
  }
  header {
      grid-area: header;
      text-align: center;
      color:white;
 }
 header h1{
   font-size: 20px;
 }
  nav {
      grid-area: nav;
     
  }
  section {
      grid-area: section;
      width: 90%;
      justify-self: center;
      
 }
  
  section .grid-container{
  display: grid;
  grid-template-columns:repeat(5,1fr);
  grid-auto-rows: 150px;
  
  border: 1px solid black;
  
  }
  section .grid-items{
  
  border: 1px solid coral;
  
  
  }
  section .grid-items img {
  width: 100%;
  height: 100%;
  
  }
  section .grid-items h2 {
      text-align: center;
      margin-top: 60px;
      color: white;
      font-size:20px ;
  
  }
  section .grid-items h3 {
      text-align: center;
      margin-top: 60px;
      color: white;
      font-size: 15px;
  }
  #fondo .precios-navbar{
    position: relative;
    left: 5%;
  }
  #fondo .pagination{
position: relative;
top: 300px;
left: 39%;

  }
  
  
    /* CONTACTO */

    #contacto {
        background-image: url(../imagenes/camping\ fondo\ hd.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }

   #contacto .contacto-area {
 
        display: grid;
        grid-template-areas: 
        "header header header"
        "section section section"
        "nav nav nav"
        "footer footer footer"
        ;
     grid-template-rows: 20vh 65% 40% 5%;
     gap: 5%;
         }
     header{
     
         grid-area: header;
         justify-self: cente;
        font-size: 30px;
        }
     section{
     grid-area: section;
     justify-self: center;
     }
     nav{
     grid-area: nav;
     width: 90%;
     justify-self: center;
     text-align: center;
     font-size: 30px;
     color: white;
    }
     footer{
     grid-area: footer;
     text-align: center;
     position: relative;
     top: 10%;

    }

    #contacto .contacto-navbar{
position: relative;
left: 5%;

    }
    
#contacto .titulo-form{
width: 100%;
height: 20vh;
text-align: center;
font-size: 40px;
color: white;
margin: 0%;

}

#contacto .titulo-form h3 {
font-size: 35px;

 
}
#contacto .form{
  color: white;
}


#contacto .col-md-4{
  margin-top: 50px;
  position: relative;
  left: 36%;
}
#contacto .col-md-6{
  margin-top: 50px;
  position: relative;
  left: 36%;
}
#contacto .col-md-3{
  margin-top: 50px;
  position: relative;
  left: 36%;
}
#contacto .col-12{
  margin-top: 50px;
  position: relative;
  left: 36%;
  
}
#contacto .mb-3{
  margin-top: 60px;
  text-align: center;
  position: relative;
}
#contacto .col-13{
  position: relative;
  left: 43%;
  margin-top: 60px;
}


#contacto .map{
    margin-top: 10%;
}

#contacto .pagination{
  position: relative;
  left: 38%;
}

/* NUESTROS PRODUCTOS */

#productos {
    background-image: url(../imagenes/camping\ fondo\ hd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }



#productos .producto-area {
 
    display: grid;
    grid-template-areas: 
    "header header header"
    "section section section"
    "nav nav nav"
    "aside aside aside"
    "article article article"
    "footer footer footer"
    ;
 grid-template-rows: 20vh 30% 30% 30% 30% 5%;
 gap: 0%;
     }
 header{
  grid-area: header;
    margin: 0%;
    }
 section{
grid-area: section;
margin: 0%;

 }
 nav{
grid-area: nav;

}
aside {
grid-area: aside;
width: 90%;
position: relative;
left: 5%;
top: -20%;

}
article{
    grid-area: article;
    width: 90%;
position: relative;
left: 5%;
top: -40%;

}
 footer{
grid-area: footer;

}
#productos .producto-area .titulo {
position: relative;
left: 5%;
}

#productos .subtitulo{
    text-align: center;
    position: relative;
    top: 200px;
    font-size: 25px;
    color: white;
    }
    
    #productos .subtitulo-2{
    text-align: center;
    position: relative;
    top: 200px;
    margin-top: -200px;
    font-size: 25px;
    color: white;
    }
    
    #productos .subtitulo-3{
    text-align: center;
    position: relative;
    top: 200px;
    margin-top: -200px;
    font-size: 25px;
    color: white;
    }
    
    #productos .subtitulo-4{
    text-align: center;
    position: relative;
    top: 200px;
    margin-top: -200px;
    font-size: 25px;
    color: white;
    }
    
    #productos .catalogo {
    width: 70%;
    height:60%;
    border: 2px solid #54aabb;
    display: flex;
    padding: 20px;
    background-color:#20889d;
    gap: 40px;
    flex-flow: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 20%;
    
    }
    #productos .catalogo .pro {
    width: 200px;
    height: 200px;
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    }
    #productos .catalogo .pro h3 {
    font-size: 30px;
    color:#a6d9e4;
    text-align: center;
    position: relative;
    top:75px
    
    
    }
    #productos .catalogo .pro:nth-child(1){
      background-image: url(../img1/cana-shimano.jpg);
      background-size: cover;
     
    }
    #productos .catalogo .pro:nth-child(2){
      background-image: url(../img1/reel.jpg);
      background-size: cover;
     
    }
    #productos .catalogo .pro:nth-child(3){
      background-image: url(../img1/caja\ de\ pesca.jpg);
      background-size: cover;
     
    }
    #productos .catalogo .pro:nth-child(4){
      background-image: url(../img1/guantes.jpg);
      background-size: cover;
     
    }
    #productos .catalogo .pro:nth-child(5){
      background-image: url(../img1/chaleco.jpg);
      background-size: cover;
     
    }
    #productos .catalogo .pro:nth-child(6){
      background-image: url(../img1/wader.jpg);
      background-size: cover;
     
    }
    #productos .catalogo .pro:nth-child(7){
      background-image: url(../img1/moscas.jpg);
      background-size: cover;
     
    }
    #productos .catalogo .pro:nth-child(8){
      background-image: url(../img1/cuchara.jpg);
      background-size: cover;
    }
    
    #productos .catalogo .cam {
        width: 200px;
        height: 200px;
        background-color:white;
        padding: 15px;
        border-radius: 10px;
        }
        #productos .catalogo .cam h3 {
        font-size: 30px;
        color:#a6d9e4;
        text-align: center;
        position: relative;
        top:75px
        
        
        }
        #productos .catalogo .cam:nth-child(1){
          background-image: url(../img1/carpas.jpg);
          background-size: cover;
         
        }
        #productos .catalogo .cam:nth-child(2){
          background-image: url(../img1/anafe.jpg);
          background-size: cover;
         
        }
        #productos .catalogo .cam:nth-child(3){
          background-image: url(../img1/faroles.jpg);
          background-size: cover;
         
        }
        #productos .catalogo .cam:nth-child(4){
          background-image: url(../img1/bolsas-dormir.jpg);
          background-size: cover;
         
        }
        #productos .catalogo .cam:nth-child(5){
          background-image: url(../img1/colchon-inflable.jpg);
          background-size: cover;
         
        }
        #productos .catalogo .cam:nth-child(6){
          background-image: url(../img1/conser\ coleman.jpg);
          background-size: cover;
         
        }
        #productos .catalogo .cam:nth-child(7){
          background-image: url(../img1/mesita.png);
          background-size: cover;
         
        }
        #productos .catalogo .cam:nth-child(8){
          background-image: url(../img1/silla.jpg);
          background-size: cover;
        }
        

        #productos .catalogo .mon {
            width: 200px;
            height: 200px;
            background-color:white;
            padding: 15px;
            border-radius: 10px;
    
            }
            #productos .catalogo .mon h3 {
            font-size: 30px;
            color:#a6d9e4;
            text-align: center;
            position: relative;
            top:75px
            
            
            }
            #productos .catalogo .mon:nth-child(1){
              background-image: url(../img1/moch\ doite.jpg);
              background-size: cover;
             
            }
            #productos .catalogo .mon:nth-child(2){
              background-image: url(../img1/trekk.jpg);
              background-size: cover;
             
            }
            #productos .catalogo .mon:nth-child(3){
              background-image: url(../img1/silla.jpg);
              background-size: cover;
             
            }
            #productos .catalogo .mon:nth-child(4){
              background-image: url(../img1/bolsa-hidratacion.jpg);
              background-size: cover;
             
            }
            #productos .catalogo .mon:nth-child(5){
              background-image: url(../img1/linternas.jpg);
              background-size: cover;
             
            }
            #productos .catalogo .mon:nth-child(6){
              background-image: url(../img1/binoculares.jpg);
              background-size: cover;
             
            }
            #productos .catalogo .mon:nth-child(7){
              background-image: url(../img1/anteojos.jpg);
              background-size: cover;
             
            }
            #productos .catalogo .mon:nth-child(8){
              background-image: url(../img1/cuellitos.jpg);
              background-size: cover;
            }
            
            #productos .catalogo .arm {
                width: 200px;
                height: 200px;
                background-color:white;
                padding: 15px;
                border-radius: 10px;
                }
                #productos .catalogo .arm h3 {
                font-size: 30px;
                color:#a6d9e4;
                text-align: center;
                position: relative;
                top:75px
                
                
                }
                #productos .catalogo .arm:nth-child(1){
                  background-image: url(../img1/aire-comp.jpg);
                  background-size: cover;
                 
                }
                #productos .catalogo .arm:nth-child(2){
                  background-image: url(../img1/pistola-co2.jpg);
                  background-size: cover;
                 
                }
                #productos .catalogo .arm:nth-child(3){
                  background-image: url(../img1/balines.jpg);
                  background-size: cover;
                 
                }
                #productos .catalogo .arm:nth-child(4){
                  background-image: url(../img1/diana.jpg);
                  background-size: cover;
                 
                }
                #productos .catalogo .arm:nth-child(5){
                  background-image: url(../img1/funda.jpg);
                  background-size: cover;
                 
                }
                #productos .catalogo .arm:nth-child(6){
                  background-image: url(../img1/miras.jpg);
                  background-size: cover;
                 
                }
                #productos .catalogo .arm:nth-child(7){
                  background-image: url(../img1/airsoft.jpg);
                  background-size: cover;
                 
                }
                #productos .catalogo .arm:nth-child(8){
                  background-image: url(../img1/arcos.jpg);
                  background-size: cover;
                }

                #productos .pagination{

                position: relative;
                left: 40%;
               bottom: 500px;

                }


                /* SERVICIOS */

                #servicios {
                  background-image: url(../imagenes/camping\ fondo\ hd.jpg);
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: cover;
                  }

               #servicios .servicios-navbar{
                 position: relative;
                 left: 5%;
               }
                  
                  #servicios .titulo-principal{
                  
                  color: white;
                  margin-top: 100px;
                  margin-bottom: 200px;
                  text-align: center;
                  -webkit-text-stroke: 2px black;
                  color: white; 
                  }
                  #servicios .subtitulo{
                  color: white;
                  margin-bottom: 48px;
                  margin-left: 110px;
                  font-size: 25px;
                  -webkit-text-stroke: 1px black;
                  color: white; 
                  }
                  #servicios .subtitulo-2 {
              
                  margin-top: -85px;
                  margin-left: 830px;
                  color: white;
                  font-size: 25px;
                  -webkit-text-stroke: 1px black;
                  color: white; 
                  }
                  #servicios .subtitulo-3 {
                    position: relative;
                  top: 750px;
                  left: 75px;
                  color:white;
                  font-size: 25px;
                  -webkit-text-stroke: 1px black;
                  color: white; 
                  }
                  #servicios .subtitulo-4 {
                  position: relative;
                  top: 709px;
                  right: 600px;
                   white-space: nowrap;
                   color: white;
                   font-size: 25px;
                   -webkit-text-stroke: 1px black;
                   color: white; 
                  }
                  #servicios .subtitulo-5{
                  position: relative;
                  top: 1460px;
                  right: 1300px;
                  white-space: nowrap;
                  color: white;
                  font-size: 25px;
                  -webkit-text-stroke: 1px black;
                  color: white; 
                  }
                  #servicios .subtitulo-6{
                    position: relative;
                    top: 1415px;
                    right: 520px;
                    white-space: nowrap;
                    color: white;
                    font-size: 25px;
                    -webkit-text-stroke: 1px black;
                    color: white; 
                  }
                  
                  #servicios .articulo-1 {  
                  width: 700px;
                  height: 600px;
                  border: 3px solid #54aabb;
                  background-color:#20889d;
                  display: flex;
                  flex-flow: column wrap;
                  flex-direction: row;
                  justify-content: space-evenly;
                  align-items: center;
                  position: relative;
                  left: 50px;
                  float: left;
                  margin-right: 10px;
                  margin-bottom: 200px;
        
                  }
            
                  #servicios .articulo-1 .dos {
                  width: 300px;
                  height: 250px;
                  border:3px solid #54aabb;
                  color:white;
                  font-size: 12px;
                  
                  }
                  #servicios .articulo-1 .dos img {
                  width: 100%;
                  height: 100%;
                  
                  }
                  #servicios .articulo-1 .dos iframe {
                    width: 100%;
                    height: 100%;
                  }
                  #servicios .articulo-1 .dos ul li{
                  list-style: none;
                  text-align: start;
                  padding: 4px;
                  }
                  #servicios .articulo-1 .dos ul li h3{
                  margin-bottom: 20px;
                  
                  }





                  #servicios .enlace-1 ul li{
                  
                   position: relative;
                   top: 600px;
                   left: 500px;
                   text-align: center;
                   display: inline;
                   padding: 20px;
                   font-size: 25px;
                  
                   }
     

#servicios .pagination{

  position: relative;
  top: 2500px;
  right: 63%;
}
