
/* LISTA DE PRECIOS */
#fondo section {
    background-image: url(../imagenes/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
#fondo nav{
  width: 100%;
}
  
  
    /* CONTACTO */

    #contacto {
        background-image: url(../imagenes/fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }

   #contacto .contacto-area {
 
        display: grid;
        grid-template-areas: 
        "header header header"
        "section section section"
        "nav nav nav"
        "footer footer footer"
        ;
     grid-template-rows: 20vh 65% 40% 5%;
     gap: 5%;
         }
     header{
     
         grid-area: header;
         justify-self: cente;
        font-size: 30px;
        }
     section{
     grid-area: section;
     justify-self: center;
     }
     nav{
     grid-area: nav;
     width: 90%;
     justify-self: center;
     text-align: center;
     font-size: 30px;
     color: white;
    }
     footer{
     grid-area: footer;
     text-align: center;
     position: relative;
     top: 10%;

    }

    #contacto .contacto-navbar{
position: relative;
left: 5%;

    }
    
#contacto .titulo-form{
width: 100%;
height: 20vh;
text-align: center;
font-size: 40px;
color: white;
margin: 0%;

}

#contacto .titulo-form h3 {
font-size: 35px;

 
}
#contacto .form{
  color: white;
}


#contacto .col-md-4{
  width: 100%;
  margin-top: 50px;
  position: relative;
  left: 0%;
}
#contacto .col-md-6{
  width: 100%;
  margin-top: 50px;
  position: relative;
  left: 0%;
}
#contacto .col-md-3{
  width: 100%;
  margin-top: 50px;
  position: relative;
  left: 0%;
}
#contacto .col-12{
  width: 100%;
  margin-top: 50px;
  position: relative;
  left: 0%;
  
}
#contacto .mb-3{
  margin-top: 60px;
  text-align: center;
  position: relative;
}
#contacto .col-13{
  position: relative;
  left: 25%;
  margin-top: 60px;
}


#contacto .map{
    margin-top: 10%;
}

#contacto .pagination{
  position: relative;
  left: 38%;
}


  

/* NUESTROS PRODUCTOS */

#NP main .album {
    background-image: url(../imagenes/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
#NP main .card-body .card-text ul li {
background-color: aqua;
}

#NP section {

background-image: url(../imagenes/pescado.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;




}
#NP nav{
  width: 100%;
}





                /* SERVICIOS */

                #servicios {
                  background-image: url(../imagenes/fondo.jpg);
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: cover;
                  width: 100%;
                }

               #servicios .servicios-navbar{
                position: relative;
                left: 5%;
               }
               #servicios header {
                 width: 100%;
               }
                  
                  #servicios .titulo-principal{
                  
                  color: white;
                  margin-top: 100px;
                  margin-bottom: 200px;
                  text-align: center;
                  -webkit-text-stroke: 2px black;
                  color: white; 
                  }
                  #servicios .subtitulo{
                  color: white;
                  margin-bottom: 48px;
                  margin-left: 110px;
                  font-size: 25px;
                  -webkit-text-stroke: 1px black;
                  color: white; 
                  }
                  #servicios .subtitulo-2 {
              
                  margin-top: -85px;
                  margin-left: 830px;
                  color: white;
                  font-size: 25px;
                  -webkit-text-stroke: 1px black;
                  color: white; 
                  }
                  #servicios .subtitulo-3 {
                    position: relative;
                  top: 750px;
                  left: 75px;
                  color:white;
                  font-size: 25px;
                  -webkit-text-stroke: 1px black;
                  color: white; 
                  }
                  #servicios .subtitulo-4 {
                  position: relative;
                  top: 709px;
                  right: 600px;
                   white-space: nowrap;
                   color: white;
                   font-size: 25px;
                   -webkit-text-stroke: 1px black;
                   color: white; 
                  }
                  #servicios .subtitulo-5{
                  position: relative;
                  top: 1460px;
                  right: 1300px;
                  white-space: nowrap;
                  color: white;
                  font-size: 25px;
                  -webkit-text-stroke: 1px black;
                  color: white; 
                  }
                  #servicios .subtitulo-6{
                    position: relative;
                    top: 1415px;
                    right: 520px;
                    white-space: nowrap;
                    color: white;
                    font-size: 25px;
                    -webkit-text-stroke: 1px black;
                    color: white; 
                  }
                  
                  #servicios .articulo-1 {  
                  width: 47%;
                  height: 600px;
                  border: 3px solid #54aabb;
                  background-color:#20889d;
                  display: flex;
                  flex-flow: column wrap;
                  flex-direction: row;
                  justify-content: space-evenly;
                  align-items: center;
                  position: relative;
                  left: 50px;
                  float: left;
                  margin-right: 10px;
                  margin-bottom: 200px;
        
                  }
            
                  #servicios .articulo-1 .dos {
                  width: 300px;
                  height: 250px;
                  border:3px solid #54aabb;
                  color:white;
                  font-size: 12px;
                  
                  }
                  #servicios .articulo-1 .dos img {
                  width: 100%;
                  height: 100%;
                  
                  }
                  #servicios .articulo-1 .dos iframe {
                    width: 100%;
                    height: 100%;
                  }
                  #servicios .articulo-1 .dos ul li{
                  list-style: none;
                  text-align: start;
                  padding: 4px;
                  }
                  #servicios .articulo-1 .dos ul li h3{
                  margin-bottom: 20px;
                  
                  }





                  #servicios .enlace-1 ul li{
                  
                   position: relative;
                   top: 600px;
                   left: 500px;
                   text-align: center;
                   display: inline;
                   padding: 20px;
                   font-size: 25px;
                  
                   }
     

#servicios .pagination{

  position: relative;
  top: 2500px;
  right: 65%;
}


@media (min-width:800px) and (max-width:1300px){ 
  #servicios {
    background-image: url(../imagenes/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    }

 #servicios .servicios-navbar{
  position: relative;
  left: 5%;
  
 }
 #servicios header {
   width: 100%;
 }
    
    #servicios .titulo-principal{
    width: 100%;
    color: white;
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
    -webkit-text-stroke: 2px black;
    color: white; 
    }
    #servicios .subtitulo{
    color: white;
    margin-bottom: 48px;
    margin-left: 20px;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    color: white; 
    text-align: center;
    }
    #servicios .subtitulo-2 {
    width: 100%;
    margin-top: 750px;
    color: white;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    color: white; 
    position: relative;
    right: 800px;
    text-align: center;

    }
    #servicios .subtitulo-3 {
      width: 120%;
     margin-left: 200px;
      color: white;
      font-size: 1.5em;
      -webkit-text-stroke: 1px black;
      color: white; 
      position: relative;
      left: -400px;
    
   
    
    }
    #servicios .subtitulo-4 {
  margin-top: 800px;
     white-space: nowrap;
     color: white;
     font-size: 25px;
     -webkit-text-stroke: 1px black;
     color: white; 
     position: relative;
     right: 450px;
    }
    #servicios .subtitulo-5{
    margin-top: 50px;
    right: 450px;
    white-space: nowrap;
    color: white;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    color: white; 
    }
    #servicios .subtitulo-6{
     margin-top: 800px;
      right: 400px;
      white-space: nowrap;
      color: white;
      font-size: 25px;
      -webkit-text-stroke: 1px black;
      color: white; 
    }
    
    #servicios .articulo-1 {  
    width: 70%;
    height: 600px;
    border: 3px solid #54aabb;
    background-color:#20889d;
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;
    position: relative;
    left: 120px;
   

    }

    #servicios .articulo-1 .dos {
    width: 50%;
    height: 250px;
    border:3px solid #54aabb;
    color:white;
    font-size: 12px;
    
    }
    #servicios .articulo-1 .dos img {
    width: 100%;
    height: 100%;
    
    }
    #servicios .articulo-1 .dos iframe {
      width: 100%;
      height: 100%;
    }
    #servicios .articulo-1 .dos ul li{
    list-style: none;
    text-align: start;
    padding: 4px;
    }
    #servicios .articulo-1 .dos ul li h3{
    margin-bottom: 20px;
    
    }





    #servicios .enlace-1 ul li{
    
     position: relative;
     top: 600px;
     left: 500px;
     text-align: center;
     display: inline;
     padding: 20px;
     font-size: 25px;
    
     }


#servicios .pagination{

position: relative;
top: 2500px;
right: 430px;
}
}

@media (min-width:0px) and (max-width:800px){ 
  #servicios {
    background-image: url(../imagenes/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    }

 #servicios .servicios-navbar{
  position: relative;
  left: 5%;
  
 }
 #servicios header {
   width: 100%;
 }
    
    #servicios .titulo-principal{
    width: 100%;
    color: white;
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
    -webkit-text-stroke: 2px black;
    color: white; 
    }
    #servicios .subtitulo{
    color: white;
    margin-bottom: 48px;
    margin-left: 20px;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    color: white; 
    text-align: center;
    }
    #servicios .subtitulo-2 {
    width: 100%;
    margin-top: 750px;
    color: white;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    color: white; 
    position: relative;
    right: 800px;
    text-align: center;

    }
    #servicios .subtitulo-3 {
      width: 120%;
     margin-left: 500px;
      color: white;
      font-size: 1.5em;
      -webkit-text-stroke: 1px black;
      color: white; 
      position: relative;
      left: -400px;
    
   
    
    }
    #servicios .subtitulo-4 {
  margin-top: 800px;
     white-space: nowrap;
     color: white;
     font-size: 25px;
     -webkit-text-stroke: 1px black;
     color: white; 
     position: relative;
     right: 350px;
    }
    #servicios .subtitulo-5{
    margin-top: 50px;
    right: 340px;
    white-space: nowrap;
    color: white;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    color: white; 
    }
    #servicios .subtitulo-6{
     margin-top: 800px;
      right: 280px;
      white-space: nowrap;
      color: white;
      font-size: 25px;
      -webkit-text-stroke: 1px black;
      color: white; 
    }
    
    #servicios .articulo-1 {  
    width: 70%;
    height: 600px;
    border: 3px solid #54aabb;
    background-color:#20889d;
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;
    position: relative;
    left: 120px;
   

    }

    #servicios .articulo-1 .dos {
    width: 50%;
    height: 250px;
    border:3px solid #54aabb;
    color:white;
    font-size: 12px;
    overflow: scroll;
    
    }
    #servicios .articulo-1 .dos img {
    width: 100%;
    height: 100%;
    
    }
    #servicios .articulo-1 .dos iframe {
      width: 100%;
      height: 100%;
    }
    #servicios .articulo-1 .dos ul li{
    list-style: none;
    text-align: start;
    padding: 4px;
    }
    #servicios .articulo-1 .dos ul li h3{
    margin-bottom: 20px;
    
    }





    #servicios .enlace-1 ul li{
    
     position: relative;
     top: 600px;
     left: 500px;
     text-align: center;
     display: inline;
     padding: 20px;
     font-size: 25px;
    
     }


#servicios .pagination{

position: relative;
top: 2500px;
right: 350px;
}
}

