
* { margin: 0; padding: 0; }
html{
    width: 1600px;
}

#NI {
    width: 100%;
    background-image: url(../imagenes/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#NI footer {
 max-width: 100%;
position: relative;
bottom: -500px;
background-color:black;
}
#NI footer svg{ 
width: 50px;
height: 50px;
color: white;
margin-left: 40px;
}
#NI footer p{
font-size: 20px;
color: white;
position: relative;
left: 1100px;
top: 20px;

}

#NI .marcas {
background-color: red;
width: 100%;
height: 200px;

}


#carouselExampleInterval{

width: 25%;
margin-left:600px;


}

#carouselExampleInterval .carousel-inner{
width: 400px;
background-color: aqua;
} 



#carouselExampleInterval .carousel-item img {
background-color: red;
width: 400px;
height: 400px;

}

#NI section .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 41px;
    grid-row-gap: 20px;
    position: relative;
    left: 210px;
    top: 100px;

    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2;}
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 2 / 1 / 3 / 2; }
    .div6 { grid-area: 2 / 2 / 3 / 3; }
    .div7 { grid-area: 2 / 3 / 3 / 4; }
    .div8 { grid-area: 2 / 4 / 3 / 5; }
    .div9 { grid-area: 3 / 1 / 4 / 2; }
    .div10 { grid-area: 3 / 2 / 4 / 3; }
    .div11 { grid-area: 3 / 3 / 4 / 4; }
    .div12 { grid-area: 3 / 4 / 4 / 5; }

    #NI section .parent .div1 img {
width: 50%;

    }
    #NI section .parent .div2 img {
width: 50%;

    }
    #NI section .parent .div3 img {
width: 50%;

    }
    #NI section .parent .div4 img {
width: 50%;

    }
    #NI section .parent .div5 img {
width: 50%;

    }
    #NI section .parent .div6 img {
width: 50%;

    }
    #NI section .parent .div7 img {
width: 50%;

    }
    #NI section .parent .div8 img {
width: 50%;

    }
    #NI section .parent .div9 img {
width: 50%;

    }
    #NI section .parent .div10 img {
width: 50%;

    }
    #NI section .parent .div11 img {
width: 50%;

    }
    #NI section .parent .div12 img {
width: 50%;

    }

   #NI section .galeria {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 41px;
        grid-row-gap: 20px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 2 / 4; }
        .div4 { grid-area: 1 / 4 / 2 / 5; }

      
        #NI article {
            grid-area: footer;    
            }
            .galeria-grid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 5px;
                position: relative;
                top: 30%;
            }
            .galeria-grid img {
                width: 100%;
                filter: grayscale(1);
            }
            .galeria-grid img:hover {
                filter: none;
                
            }
        
        @keyframes mi-efecto {
        0%{
            opacity: 0;
        }
        100%{opacity: 1;
        }
        
            
        }


        #NI aside .container {
            position: relative;
            top: 200px;
      

 }

 #home-activities-container .home-activities-item {
    margin-bottom: 50px;
    }
