
/* varibles */
//com. no compila

$colorTexto: white;



#fondo{
    background-image: url(../imagenes/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }



.grid-area {
display: grid;
grid-template-areas:
    "header header header"
    "header header header"
    "info nav publi"
    "info nav publi"
    "main article hgroup"
    "footer footer footer";
    grid-template-rows: 80px 50px 100px 100px 1500px 300px;
    grid-template-columns: 1fr 700px 1fr;
    gap: 10px;
}
header {
grid-area: header; 


}

nav{
    grid-area: nav;

img{

    width: 100%;
    height: 100%;
    position: relative;
    left: 5%;

}

img:hoover{

    filter: sepia(60%);
}

}

section {

    grid-area: info;

img{
 width: 80%;
 height: 80%;
 position: relative;
 left: 8%;
}
h2{

    color: blue;
    position: relative;
    left: 15%;
    top: -20%;
    font-size: 20px;

}

}
aside{
    grid-area: publi;

.horarios{

li{
    width: 100%;
    height: 100%;
    text-align: center;
    list-style: none;
    font-weight: 700;
   color: $colorTexto;
   font-size: 20px;

   h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: $colorTexto;  
   }
}

}

}
main {
    grid-area: main;
ul{

li{
    display: block;
    width: 100%;
    height: 110px;
    font-family: 'Pacifico', cursive;
    font-family: 'Yuji Boku', serif;    
    font-size: 32px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    margin-left: -16%;
    color: $colorTexto;

    h2{
        font-size: 40px;
        background-color: rgba(56, 64, 165, 0.966);
        text-align: center;
        font-weight: 700;
        color: $colorTexto;
        animation: mi-efecto;
        animation-iteration-count: infinite;
        animation-duration: 2s; }
        
    }
}

}

article {
    grid-area: article;


& .img-container{

    width:100%;
    height: 100%;
    padding: 0px;
    margin: auto;
    display: flex;
    flex-flow:row ;
    justify-content: center;
    align-items: center;
     flex-direction: column;
     position: relative;
     top: 2%;
     left: 5%;

& .img-item{
    width: 350px;
    border: 3px solid black;
    height: 550px;
    background-color: blueviolet;
    color: $colorTexto;
    margin: 20px;
img{
    width: 100%;
    height: 100%;
}
}


}  }

hgroup{
    grid-area: hgroup;

& .margen{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 340px;

img{

    width: 107%;
    filter: grayscale(1);
    position: relative;
    left: 160%;
    bottom: -1%;
    overflow: hidden;
    margin-top: 12px;
}
 img:hover{
    filter: none;
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    position: relative;z-index: 1;

 }
 & .img-1 {

    grid-column: 1/3;
    grid-row: 1/3;

 }   

}

}
footer{
    grid-area: footer;   

.galeria-grid{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    position: relative;
    top: 30%;

img{
    width: 100%;
    filter: grayscale(1);

}
img:hover{
    filter: none;
}
}

}

@keyframes mi-efecto {
    0%{
        opacity: 0;
    }
    100%{opacity: 1;
    }
    
        
    }
